
body{
    font-family: "Avenir", sans-serif
}

h1{
    color:blue;
    padding: 20px;
    margin: 10px;
    float: left;
}


nav{
    color:blue;
    text-transform: uppercase;
    float: right;
    font-size: 14px;
    font-weight: bold;
    list-style-type: none; 
    padding: 20px;
}

nav li{
    display: inline-block;
    padding: 12px;
    text-align: right;
}

input[type=search]{
    color: blue;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: greenyellow;
    text-transform: uppercase;
}

