body{
    font-family: "Avenir", sans-serif;
    font-size: regular;
    margin: 0;
    padding; 0;
    line-height: 0;
}

header{
    height: 60px;
    padding: 0;
    background-color: white;
    border: none;
}

h1{
    color:blue;
    padding: 0;
    padding-left: 20px;
    padding-right:10px;
    margin: 0;
    font-size: 35px;
    text-align: center;
    height: 70px;
    border: none;
    float: left;
    display: inline;
    width: 30%;
    line-height: 2.75em;
    overflow:auto;
}

input[type=search]{
    color: rgba(150, 150, 150, 0.6);
    font-size: 15px;
    padding: 0;
    margin: 25px 5px 0 5px;
    border: none;
    border-bottom: 2px dotted #66FF00;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 30%;
    display: inline-block;
    overflow:auto;
}

nav{
    color:blue;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    list-style-type: none; 
    height: 70px;
    padding: 0px;
    border: none;
    margin: 0;
    text-align: center;
    line-height: 5.2em;
    float: right;
    width: 30%;
    display: inline-flex;
    overflow:auto;
}

nav li{
    display: inline;
    padding: 12px;
    text-align: right;
}


section[id=gradient-1]{
    margin-top: 20px;
    height: 8px;
    background: linear-gradient(90deg, blue, #66FF00)
}